body
{
    box-sizing: border-box;
}
#cap
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:120px ;
    border: 1px transparent white; 
}
h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-style : cursive;
    color:rgba(226, 18, 53, 0.933);
    margin-left: 30px;
    font-style: oblique 10deg;
}
#products
{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
    padding-left: 90px;
    padding-top: 20px;
}
.product
{
    height: 550px;
    width: 400px;
    box-shadow: 0px 19px 38px 0px rgb(240, 79, 79),
0px 15px 12px 0px rgb(231, 91, 91); 
box-shadow: 0 45px 65px rgb(225, 87, 87), 0 35px 22px rgb(228, 93, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 15px;
    color: whitesmoke;
    background-color: rgb(29, 29, 22);
    margin-bottom: 30px;
    border-radius: 10px;
    animation-duration: 1s;
    animation-timing-function: ease;
}
.product:hover
{
    
    background-color: rgba(127, 12, 12, 0.948);
    transform: scale(0.9);
    color: rgb(247, 241, 241);
    border-radius: 10px;
    box-shadow: 0px 19px 38px 0px rgb(17, 16, 16),
    0px 15px 12px 0px rgb(11, 11, 11); 
   
}
/* .image
{
    animation-duration: 1s;
}
.image:hover
{
    
} */
.btn
{
    font-size: 15px;
    border-radius: 20px;
    padding: 10px 10px;
   
}
.btn:active
{
    font-size: 13px;
    background-color: blue;
}

